<div class="grid mt-4">
  <div class="col-12 md:col-6">
    <div class="grafico-container">
      <h3 class="text-center">Facturas por Cliente</h3>
      <canvas id="chartFacturasPorCliente"></canvas>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="grafico-container" style="height: 300px; width: 100%;">
      <h3 class="text-center">Distribución del Subtotal</h3>
      <canvas id="chartDistribucionSubtotal"></canvas>
    </div>
  </div>

<div class="col-12 md:col-6">
  <div class="grafico-container">
    <h3 class="text-center">Tipos de Factura por Cliente</h3>
    <canvas id="chartTiposFactura"></canvas>
  </div>
</div>

