<p-toast></p-toast>

<div class="card">



  <div class="grid" *ngIf="Create">
    <div class="col-12">
      <div class="card">
        <div
          class="flex"
          style="width: 100%; margin: 0 auto; display: flex; align-items: center; height: 42px;"
        >
          <div style="width: 20%; display: flex; align-items: center; height: 12.5%;">
            <button
              (click)="CerrarFormulario()"
              class="p-button-link"
              pButton
              pRipple
              type="button"
              label="Regresar"
              icon="pi pi-arrow-left"
              style="box-shadow: none !important"
            ></button>
          </div>
          <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
            <h1 class="text-center mt-4">{{ titulo }}</h1>
          </div>
          <div style="width: 20%;"></div>
        </div>
  
        <hr />
        <br />
  
        <div class="grid">
          <form [formGroup]="form" class="grid col-12 p-fluid p-formgrid">
            <div class="field col-12 md:col-6">
              <label for="username" style="display: inline-block;">Nombre de Usuario</label>
              <input
                pInputText
                formControlName="username"
                placeholder="Ingrese el nombre de usuario"
                [ngClass]="{
                  'ng-invalid ng-dirty': submitted && form.controls['username'].invalid
                }"
              />
              <small *ngIf="submitted && form.controls['username'].invalid" style="color: red;">
                El campo es requerido.
              </small>
            </div>
  
            <div class="field col-12 md:col-6">
              <label for="password" style="display: inline-block;">Contraseña</label>
              <div class="p-inputgroup">
                <input
                  [type]="mostrarPassword ? 'text' : 'password'"
                  pInputText
                  formControlName="password"
                  placeholder="Ingrese la contraseña"
                  [ngClass]="{'ng-invalid ng-dirty': submitted && form.controls['password'].invalid}"
                />
                <span class="p-inputgroup-addon" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                  <i [ngClass]="mostrarPassword ? 'pi pi-eye-slash' : 'pi pi-eye'"></i>
                </span>
              </div>
              <small *ngIf="submitted && form.controls['password'].invalid" style="color: red;">
                El campo es requerido.
              </small>
            </div>
          </form>
        </div>
  
        <div class="text-right mt-4" style="display: flex; justify-content: end;">
          <button
            (click)="Guardar()"
            class="btn btn-guardar"
            pButton
            pRipple
            type="button"
            label="Guardar"
            icon="pi pi-save"
          ></button>
          <button
            (click)="CerrarFormulario()"
            class="p-button-secondary ml-2"
            pButton
            pRipple
            type="button"
            label="Cancelar"
            icon="pi pi-times"
            style="margin-left: 2%;"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="grid" *ngIf="Index">
    <div class="col-12">
      <div class="card">
       <h1 class="text-center">Usuarios</h1>
       <hr>
  
        <div class="grid mt-2">
          <div class="col-12">
            <button (click)="CrearUsuario()" pButton icon="pi pi-plus" label="Nuevo" class="mr-2"></button>
          </div>
        </div>
  
        <p-table
          #dt
          [value]="usuarios"
          styleClass="mt-2"
          responsiveLayout="scroll"
          [rows]="10"
          [globalFilterFields]="['username', 'id']"
          [paginator]="true"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
          [rowHover]="true"
          [rowsPerPageOptions]="[10, 25, 50, 100]"
        >
          <ng-template pTemplate="caption">
            <div
              class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
            >
              <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i style="color: white;" class="pi pi-search"></i>
                <input
                  style="color: white"
                  pInputText
                  type="text"
                  (input)="onGlobalFilter(dt, $event)"
                  placeholder="Buscar..."
                  class="w-full sm:w-auto"
                />
              </span>
              <div class="registros">
                <p-dropdown
                  [options]="dt.rowsPerPageOptions"
                  [(ngModel)]="dt.rows"
                  [style]="{ 'margin-right': '5px' }"
                  [autoWidth]="false"
                ></p-dropdown>
                <span style="color: #FFF0C6; font-weight: 700; margin-top: 7px;">Registros por página</span>
              </div>
            </div>
          </ng-template>
  
          <ng-template pTemplate="header">
            <tr>
              <th style="color: white;" class="text-center">Acciones</th>
              <th style="color: white;" class="text-center">ID</th>
              <th style="color: white;" class="text-center">Usuario</th>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="body" let-usuario>
            <tr  (click)="selectUsuario(usuario)">
              <td class="text-center" style="width: 10%;">
                <p-splitButton class="custom-splitbutton" label="Acciones" icon="pi pi-cog" [model]="items" styleClass="p-button-secondary" appendTo="body"></p-splitButton>
            </td>
             
              <td class="text-center">
                <span class="p-column-title">ID</span>
                {{ usuario.id }}
              </td>
              <td class="text-center">
                <span class="p-column-title">Usuario</span>
                {{ usuario.username }}
              </td>
            </tr>
          </ng-template>
  
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="3" class="text-center">No se encontraron registros.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
